body {
	background-color: #004e89;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* COLOR 
#bee9e8
#62b6cb
#1b4965
#cae9ff
#5fa8d3
*/

header {
	background-color: #ff6b35;
	color: white;
	text-align: center;
	margin-left: 100px;
	margin-right: 100px;
	border-radius: 10px;
}

label {
	margin-bottom: 4px;
	font-size: 18px;
	font-weight: bold;
	color: #ff6b35;
}

#inputField {
	outline: none;
	font-size: 18px;
	border-radius: 8px;
	border: solid #ff6b35;
	padding: 10px;
}

#inputField:focus {
	border: solid #ff6b35;
}

.InputSection {
	display: flex;
	flex-direction: column;
}

.InputButtonSection {
	display: flex;
	flex-direction: row;
	align-self: center;
}

button {
	background-color: #efefd0;
	color: black;
	padding: 10px 20px;
	border-radius: 10px;
	cursor: pointer;
	border: none;
}

button:hover {
	background-color: #f7c59f;
}

button:active {
	transform: translateY(2px);
	background-color: #f7c59f;
}

#output,
#calculation {
	/* border: 1px solid #ff6b35;
	padding: 10px;
	margin-top: 10px;
    background-color: white; */
	outline: none;
	font-size: 18px;
	border-radius: 8px;
	border: solid #ff6b35;
	padding: 20px;
	background-color: white;
}

h3 {
	color: white;
}

.explanation {
	color: white;
}

.footer {
	text-align: center;
	color: #ff6b35;
}

strong {
	font-size: 1.2em; /* Ubah ukuran huruf sesuai kebutuhan */
}

.subscript {
	vertical-align: sub;
}

.garis {
	border-bottom: 2px solid #ff6b35;
	display: inline-block;
	padding-bottom: 5px;
	width: 100%;
}
